@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #10B981;
    --dark-gray: #6B7280;
    --off-white: #E5E7EB;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.container{
  padding: 0rem 1rem;
}

.container-fluid{

}

.container-center{
    max-width: 600px;
    margin: auto;
}

.link-primary{
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 0.5rem;
}

.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.link{
    padding: 0.5rem 1rem;
    text-decoration: none;
}

hr{
    margin: 2rem 0;
}

.list-non-bullet{
    list-style: none;
}

.footer ul li{
    color: white;
}


.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 350px;
    margin: auto;
    display: block;
}

.hero .hero-heading{
    padding-top: 1rem;
    color: var(--dark-gray);
    font-size: 2rem;
    text-align: center;
}

.section h1{
    text-align: center;
}

.section{
    padding: 2rem;
}

.ow{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .footer-header{
    font-size: 2rem;
    font-weight: bold;
}

.h2-primary{
    color: var(--primary-color);
}

.date{
    color: var(--dark-gray);
}

.blog{
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    font-size: 16px;
    max-width: 65%;
    margin: auto;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;

}

.blog li{
    margin-top: 1rem;
}